@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Notify!</h1>
    <p>You should usually see tasks here. To create a new task, click the + button in the top right corner.</p>
</div>
